/* .container {
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content div {
  display: flex;
  min-width: 50%;
  flex-direction: row;
  padding: 10px;
} */
.about {
  height: 100%;
  padding-top: 50px;
  align-content: center;
}

.about h2 {
  position: relative;
  margin-bottom: 15px;
}

.about h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  height: 2px;
  width: 100%;
  background: linear-gradient(to left, transparent, rgb(102, 187, 121), transparent);
}